<!doctype html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1>Blank Canvas</h1>
        <div class="well">
            <p>
                This is a scratchpad for my development of a Test Execution web app where a user can create Test Suites,
                and add a number of Tests to that Suite. Each test can have a number of steps or actions which will get
                carried out on a real web browser on a remote windows machine
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>Create a new Test Suite</h2>
        <!-- Trigger the create Suite modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createSuiteModal">Create
        </button>
        <!-- Create Suite Modal -->
        <% include partials/modals/CreateTestSuiteModal.ejs %>
        <hr/>
    </div>
    <div class="row">
        <h2>Create a new Test</h2>
        <!-- Trigger the create Test modal with a button -->
        <button id="getAllSuitesBtn" type="button" class="btn btn-info btn-lg" data-toggle="modal"
                data-target="#createTestModal">Create
        </button>
        <!-- Create Suite Modal -->
        <% include partials/modals/CreateTestModal.ejs %>
        <hr/>
    </div>
    <div class="row">
        <h2>Load all your tests from the Database</h2>
        <!-- Trigger the view database contents modal with a button -->
        <button id="getAllTestsBtn" type="button" class="btn btn-info btn-lg" data-toggle="modal"
                data-target="#viewAllTestsModal">Load Data
        </button>
        <!-- Create Suite Modal -->
        <% include partials/modals/ViewAllTestsModal.ejs %>
        <hr/>
    </div>
</div>

<% include partials/footer.ejs %>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect();
    socket.on('connect', function () {
        console.log('Connected to the Server via Socket...');
    });
    $("#getAllTestsBtn").click(function () {
        socket.emit('getAllTests', 'test_suites');
    });

    socket.on('allTests', function (data) {
        $("#allTests").html(`
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Test Name</th>
                </tr>
            </thead>
            <tbody id="testsFromDatabase">

            </tbody>
        </table>
        `);

        data.forEach(function (test) {
            $("#testsFromDatabase").append(`
            <tr>
                <td>` + test.name + `</td>
            </tr>
        `);
        })

    });

    $("#getAllSuitesBtn").click(function () {
        socket.emit('getAllSuites', 'test_suites');
    });

    socket.on('allSuites', function (suites) {
        suites.forEach(function (suite) {
            $("#selectSuite").append(`
                <option value=` + suite.id + `>` + suite.name + `</option>
        `);
        })
    });
</script>
</body>

</html>