<!-- Modal -->
<div class="modal fade" id="viewAllTestsModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tests from Database</h4>
            </div>
            <div class="modal-body">
                <div id="allTests">
                    <span><i class="fa fa-spinner fa-pulse"></i> Loading...</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>